{% extends 'shared/base.html' %}

{% block content %}
    <p style="color: black; margin: 8% 10% 1% 6%">
        Ние сме екип от млади, мотивирани и технически грамотни юристи, които смятат, че правните дейности
    могат да бъдат модернизирани чрез технологични решения с лесен за навигиране интерфейс и ясни инструкции</p>
    <p style="color: black; margin: 8% 10% 1% 6%">
    Разбира се, има високоспециализирани правни услуги, които още дълго време ще останат в ексклузивната компетентност
    на квалифицирани юристи. Това не означава, че междувременно не трябва да се опитаме да оптимизираме и облекчим
    процесите, които
    </p>

{% endblock %}