{% extends 'shared/base.html' %}

{% block content %}
    <p style="color: black; margin: 8% 10% 1% 6%">
        NASLEDIME.COM е проект на млади, мотивирани и технически грамотни юристи, които смятат, че правните дейности
    могат да бъдат модернизирани чрез технологични решения с лесен за навигиране интерфейс и ясни инструкции.</p>
    <p style="color: black; margin: 2% 10% 1% 6%">
        Целта на проекта е да предостави удобни средства във връзка с наследственоправните въпроси
        както на обикновения потребител, така и на адвокат, който може да използва NASLEDIME.COM, за да обслужва
        по-ефективно своите клиенти.</p>
    <p style="color: black; margin: 2% 10% 1% 6%">
    Проектът ще бъде постепенно разширяван. Амбицията ни е впоследствие той да се превърне в one-stop-shop за
    всякакви наследственоправни нужди, доколкото законът позволява.
    </p>
    <p style="color: black; margin: 2% 10% 15% 6%">
        Можете да разгледате <a href="{% url 'how wills work' %}" class="link-info">как работят завещнията</a>
        или да <a href="{% url 'create will' %}" class="btn-get-started">направите завещание.</a></p>

{% endblock %}