{% extends 'shared/base.html' %}

{% block content %}
    <p style="color: black; margin: 8% 10% 1% 6%">
        Завещанието е инструментът в наследственото право, посредстом който едно лице може да промени своите наследници
    от тези, които законът би му отредил, на тези, които той желае да удостои с тази възможност.</p>
    <p style="color: black; margin: 2% 10% 1% 6%">Разбира се, това право не е безгранично. Завещателят е ограничен
    от запазената част, която се полага на някои наследници. Тя обаче не опорочава ефекта на завещанието в частите,
    които не я накърняват.</p>
    <p style="color: black; margin: 2% 10% 1% 6%">Завещанието в правен смисъл има две форми - завещание и завет.
    Разликата е в това, което се завещава.</p>
    <p style="color: black; margin: 2% 10% 1% 6%">Когато едно лице завещава дял от имуществото си
        (напр. оставя 1/3 от всичко, което има, на своята любима внучка),
        говорим за завещание в класическия правен смисъл.</p>
    <p style="color: black; margin: 2% 10% 1% 6%">От друга страна, когато посмъртно се разпорежда с отделни
    движими и недвижими вещи от имуществото си (напр. оставя къщата на своя син и апартамента - на своята дъщеря),
    става въпрос за завет.<p>
    <p style="color: black; margin: 2% 10% 1% 6%">Разликата обаче е само в езика, който се използва във волеизявлението.
    С интуитивен уебсайт можете лесно, удобно и безплатно да съставите завещание за Вас, Ваш близък или
    Ваш клиент!</p>
    <p style="color: black; margin: 2% 10% 1% 6%">Готови ли сте да го изпробвате?
    <a href="{% url 'create will' %}" class="btn-get-started">Направете завещание!</a>
    </p>

{% endblock %}